[submodule "modules/tech-afxdp"]
	path = modules/tech-afxdp
	url = git@github.com:Packet-Batch/tech-afxdp
[submodule "modules/tech-afpacket"]
	path = modules/tech-afpacket
	url = git@github.com:Packet-Batch/tech-afpacket
[submodule "modules/tech-dpdk"]
	path = modules/tech-dpdk
	url = git@github.com:Packet-Batch/tech-dpdk